* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 30px;
}
header h1 {
    display: inline-block;
    font-size: 2.5vw;
}

header nav {
    float: right;
}

header nav ul li {
    display: inline-block;
    margin: 0px 10px;
}

body #landing-page {
    background-image: url(../img/home/resturant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

body #subject {
    padding: 15% 25%;
}

#landing-page h2 {
    font-size: 4vw;
}

#landing-page .menu {
    position: relative;
    display: inline-block;
}

#landing-page .menu-content {
    display: none;
    position: absolute;
    background-color: black;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

#landing-page .menu-content li {
    display: block;
    padding: 5px 10px;
    margin: 0px 0px;
    font-family: 'Nanum Myeongjo', serif;
}

#landing-page .menu-content li:hover {
    background-color: grey;
}

#landing-page .menu:hover .menu-content {
    display: block;
}

body button {
    width: 8vw;
    min-width: 100px;
    height: 6vh;
    min-height: 30px;
    border-style: solid;
    border-color: white;
    border-width: thick;
    background-color: white;
    border-radius: 5px;
}

body button:hover {
    background-color: transparent;
}

#your-chef-layout {
    text-align: center;
    width: 100%;
    padding: 5% 10%;
    background-color: white;
}

#your-chef-layout div {
    margin: 0px 10%;
}

#your-chef-layout #your-chef-pic {
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    height: auto;
    border-radius: 5px;
}

#your-chef-layout #your-chef-description {
    display: inline-block;
}

#your-chef-layout #your-chef-description * {
    text-align: left;
    padding: 10px 0;
}

.fullScreen {
    width: 100vw;
    height: 100vh;
}

footer {
    width: 100%;
    padding: 50px 30px;
    background-color: black;
    color: white;
    text-align: center;
}

footer .wrapper * {
    margin: 5px 0px;
}

footer img {
    width: 1.5em;
    height: 1.5em;
}

footer #github-logo {
    filter: invert(100%);
}

footer ul li {
    display: inline-block;
    padding: 0 5px;
}

.caveat-font {
    font-family: 'Caveat', cursive;
}

.nanum-font {
    font-family: 'Nanum Myeongjo', serif;
}